body{
    font-family: sans-serif;
    font-size: larger;
    margin-top: 50px;
    text-align: center;


}
button{
    padding: 18px 15px;
    margin: 18px;
    border-radius: 10px;
    font-size: 25px;
    color:white;
    background-color: green;

}
#result{
    font-size: 20px;
    color: green;
    margin-top: 30px;
}
#div{
    box-shadow: 18px;
    border: 20px;
    border-color: gold;
}